@import "./normalize.css";

:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-timt: #ff8198;
  --color-background: #fff;
  --font-size: 12px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size);
  width: 100vw;
  overflow: hidden;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.selectNone {
  -moz-user-select: none; /* Firefox私有属性 */
  -webkit-user-select: none; /* WebKit内核私有属性 */
  -ms-user-select: none; /* IE私有属性(IE10及以后) */
  -khtml-user-select: none; /* Khtml内核私有属性 */
  -o-user-select: none;
}

[class*=" el-icon-lx"],
[class^="el-icon-lx"] {
  font-family: lx-iconfont !important;
}
